/* Style The Dropdown Button */
.dropbtn {
    border-radius: 2px;
    background-color: #fff;
    color: rgb(17, 134, 150);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
    background-image: url("images/hamburg.svg");
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #c2c9ca;
}



.main{
    background-color: orange;
    min-height: 100vh;
    background-image: url(images/mobile.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
    /* text-shadow: .5px .5px #DDDDEC; */ 
}

.header{
    margin-top: 0px;
    width: 100%;
    margin: 0 auto;
}

nav{
    float: right;
    margin-top: 26px;
    margin-right: 10px;

}

.navbar{
    color: white;
    font-size: 20px;
    margin-left: 25px;
    text-decoration: none;
    /* underlining is text deco */
}

/* pseudoclass is another state of this class (:hover) */

/* unvisited link */
.navbar:link {
    color: #FFf;
}

/* visited link */
.navbar:visited {
    color: #fff;
}

/* mouse over link */
.navbar:hover {
    color: #F0F0FA;
}

span{
    width: 100%;
}

.blurb{
    font-size: 13px;
    color: darkblue;
    text-align: left;
    clear: both;
    /* clear both clears the white margin */
    background-color: #FFF;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 10px;
    padding-left: 9px;
    padding-right: 9px;
 
}

/* HEADER SECTION for 'about me' page */

.head{
    
    background-image: url(images/bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutme{
    padding-top: 75px;
    margin-bottom:-30px;
}

#skills{
    background-color: #FFD33C;
    margin-bottom: 60px;
    margin-top: 0;
    padding: 30px 40px;
    color: #FFFFFF !important;
    margin-left: 40px;
    margin-right: 40px;
}

h3{
    font-size: 36px;
    color: #fff;
    text-align: left;
    margin-top: -20px;
    margin-bottom: -20px;
}

.card {
    height: 17vh;
    width: 25vw;                 /* Set width of cards */
    border: 1px solid rgb(184, 184, 209);    /* Set up Border */
    border-radius: 4px;           /* Slightly Curve edges */
    overflow: hidden;             /* Fixes the corners */
    display: flex inline-block;                /* Children use Flexbox */
    flex-direction: column;       /* Rotate Axis */
    margin: auto;
    border-radius: 20px;
    box-shadow:         1px 1px 2px 2px #ccc;
    
  }

  .card:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .card-header {
    color: #2557A5;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid rgb(184, 184, 209);;
    background-color: white;
    padding: 5px 10px;
  }
  
  .card-main {
    display: flex;              /* Children use Flexbox */
    flex-direction: column;     /* Rotate Axis to Vertical */
    justify-content: center;    /* Group Children in Center */
    align-items: center;        /* Group Children in Center (on cross axis) */
    padding: 20px 20px;            /* Add padding to the top/bottom */
    background-color: #FFF;

  }
  
  .material-icons {
    font-size: 36px;
    color: rgb(184, 184, 209);
    margin-bottom: 5px;
  }
  

  .row {
    display: flex;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cardimg{
    height: 40px;
    width: 40px;
  }

  #contact{
    background-color: #5EB5D4;
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 30px 40px;
    color: #FFFFFF !important;
    margin-left: 40px;
    margin-right: 40px;
}

.contactlinks{
    font-size: 12px;
    color: #2557A5;
    text-align: left;
    
    clear: both;
    /* clear both clears the white margin */
    background-color: #FFF;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 2px 2px 0 0;
    border: 1px solid #ccc;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow:         1px 1px 2px 2px #ccc;
    border-radius: 20px;
}

/* unvisited link */
a:link {
    color: #2557A5;
}

/* visited link */
a:visited {
    color: #2557A5;
}

/* selected link */
a:active {
    color: #2557A5;
}

.mainindex {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect
  @keyframes blink-caret {
    from, to { border-color: transparent }
    10% { border-color: black; }
  } */


  h1{
    font-size: 54px;
    color: #fff;
    text-align: center;
    clear: both;
    /* clear both clears the white margin */
    padding-top: 130px;
    
}

h2{
    font-size: 20px;
    color: #fff;
    text-align: center;
    clear: both;
    /* clear both clears the white margin */
    margin-top: -50px;
}

/* --------------------------------CSS FOR DESKTOP --------------------------------------*/
/* --------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------*/
@media screen and (min-width:1000px){
    #container{
        height: 768px;
        width: 1000px;
        
        /* margin to center everything */
    }

    h1{
        font-size: 83px;
        color: #fff;
        text-align: center;
        clear: both;
        /* clear both clears the white margin */
       
        
        
    }

    h2{
        font-size: 36px;
        color: #fff;
        text-align: center;
        clear: both;
        /* clear both clears the white margin */
       
        
    }

    .main{
        background-image: url(images/pina.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        height: 820px;
        background-size: cover;
    }

    .blurb{
        font-size: 21px;
        color: #2557A5;
        text-align: left;
        clear: both;
        /* clear both clears the white margin */
        background-color: #FFF;
        margin-right: 102px;
        margin-left: 102px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 2px 2px 0 0;
        border: 1px solid #ccc;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        
        box-shadow:         3px 3px 5px 6px #ccc;
    }
    .head{
        width: 100%;
        height: 375px;
        background-image: url(images/bg2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .contactlinks{
        font-size: 20px;
        color: #2557A5;
        text-align: left;
        
        clear: both;
        /* clear both clears the white margin */
        background-color: #FFF;
        margin-right: 102px;
        margin-left: 102px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 2px 2px 0 0;
        border: 1px solid #ccc;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
        box-shadow:         3px 3px 5px 6px #ccc;
    }

    .card {
        width: 150px;                 /* Set width of cards */
        border: 1px solid rgb(184, 184, 209);    /* Set up Border */
        border-radius: 4px;           /* Slightly Curve edges */
        overflow: hidden;             /* Fixes the corners */
        display: flex inline-block;                /* Children use Flexbox */
        flex-direction: column;       /* Rotate Axis */
        margin: auto;
        border-radius: 20px;
        -webkit-box-shadow: 2px 2px 4px 4px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    2px 2px 4px 4px #ccc;  /* Firefox 3.5 - 3.6 */
        box-shadow:         2px 2px 4px 4px #ccc;
        
      }

      .cardimg{
        height: 70px;
        width: 100%;
        max-width: 65px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .card-header {
        color: #2557A5;
        text-align: center;
        font-size: 13.5px;
        font-weight: 600;
        border-bottom: 1px solid rgb(184, 184, 209);;
        background-color: white;
        padding: 5px 10px;
      }
      /* unvisited link */
        a:link {
            color: #2557A5;
        }

        /* visited link */
        a:visited {
            color: #2557A5;
        }

        /* mouse over link */
        /* a:hover {
            font-size: 120%;
        } */

        /* selected link */
        a:active {
            color: #2557A5;
        }
};